.Titulos {
    font-size: 75px;
    color: rgb(179, 128, 0);
    text-align: center;
}
a {
    font-size: 20px;
    width: 20px;
    height: auto;
    color: brown;
}
 img {
    height: 50px;
    width: 50px;
 }
 .ListaItem {
    display: inline-block;
    background-color: rgb(26, 220, 198);
 }
 .Subtitulos {
    font-size: 50px;
    color: aliceblue;
 }
 .InfoLegal {
    font-size: 25px;
 }
 .Video {
    align-items: center;
    size-adjust: 3rem;
    border-radius: 2cm;
 }
 .Logo {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
 }
 .Textoh2{
   display: flex;
   justify-content: center;
   font-size: 45px;
 }
 .Textoh3{
   display: flex;
   justify-content: center;
   font-size: 30px;
 }
 .alto{
   height: 30vh;
 }
 .rosa{
   background-color: #ff7987;
 }
 .paddingtop{
   padding-top: auto;
 }
 .cream{
   background-color: beige;
 }
 .colorFondoRosa{
  background-color: #ff7987;
 }