$color-primario: #ff7987;
$align-left: text-align left;
.Titulos {
    font-size: 75px;
    color: rgb(179, 128, 0);
    text-align: center;
    .Textoh2{
   display: flex;
   justify-content: center;
   font-size: 45px;
   color: #ff4759;
   .Textoh3{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #ff7987;
    p{
      $text-align: center;
    }
}
}
}
img {
    height: 50px;
    width: 50px;
    .Video {
        align-items: center;
        size-adjust: 3rem;
        border-radius: 2cm;
}
}
main{
  background-color: beige;
  .grid-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
body {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
